@charset 'utf-8';


$icons: (
  help: '\e600',
  print: '\e601',
  refresh: '\e602'
);
  
@font-face {
  $font-id: '1439454504_5695288';

  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_#{$font-id}.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_#{$font-id}.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_#{$font-id}.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_#{$font-id}.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_#{$font-id}.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.icon-font{
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-text-stroke-width: 0.2px;
}

@each $icon, $value in $icons {
  .icon-#{$icon}:before {
    content: $value;
  }
}
